@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Regular.ttf);
}
body{
    font-family: Roboto;
}
.div-mian{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 320px;
    height: 754px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 40px;
}
.div-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 258px;
    height: 258px;
    justify-content: center;
}
.matn{
    line-height: 24px;
}
.choose-color{
    color: rgba(102, 102, 102, 1);
}
.div-color{
    display: flex;
}
.red{
    background: #EE4444;
}
.blue{
    background: #3C81F6;
}
.black{
    background: #000000;
}
.red , .blue , .black{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 4px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.black , .blue{
    margin-left: 16px;
}
.red:hover , .black:hover , .blue:hover{
    border: 4px solid #000000;
    
}
.div-btn{
    display: flex;
    flex-direction: column;
}
.add , .buy{
    width: 320px;
    height: 55px;
    border-radius: 8px;
    font-size: 24px;
}
.add{
    background-color: #FBBF23;
    border: 1px solid #FBBF23;
}
.add:hover{
    background-color: #da9f09;
    border:1px solid #da9f09;
}
.buy{
    background-color: #FFFFFF;
    border:1px solid rgba(97, 165, 250, 1);
}
.buy:hover{
    background-color: rgba(97, 165, 250, 1);
    border:1px solid #FFFFFF;
}
.buy:hover , .add:hover ,
.red:hover , .black:hover ,
.blue:hover{
    transition: 0.5s;
    cursor: pointer;
}
.read{
    color:rgba(97, 165, 250, 1)
}